.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.flex-cell {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-cell--square:before {
  content: '';
  float: left;
  padding-top: 100%;
}
.flex--flexCells > .flex-cell {
  display: -webkit-flex;
  display: flex;
}
.flex--top {
  align-items: flex-start;
}
.flex--bottom {
  align-items: flex-end;
}
.flex--center {
  align-items: center;
}
.flex--justify-center {
  justify-content: center;
}
.flex--justify-right {
  justify-content: flex-end;
}
.flex--justify-left {
  justify-content: flex-start;
}
.flex-cell--top {
  align-self: flex-start;
}
.flex-cell--bottom {
  align-self: flex-end;
}
.flex-cell--center {
  align-self: center;
}
.flex-cell--autoSize {
  flex: none;
}
.flex-row {
  margin: 0 -15px 0 -15px;
}
.flex-row > .flex-cell {
  padding: 0 15px 0 15px;
}
[class^="cell-"],
[class*=" cell-"] {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
}
.flex-row {
  margin: 0 -15px 0 -15px;
}
.flex-row > [class^="cell-"],
.flex-row > [class*=" cell-"] {
  padding: 0 15px 0 15px;
}
.cell-xs-12 {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.cell-xs-11 {
  -webkit-flex: 0 0 91.66666667%;
  -ms-flex: 0 0 91.66666667%;
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
.cell-xs-10 {
  -webkit-flex: 0 0 83.33333333%;
  -ms-flex: 0 0 83.33333333%;
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.cell-xs-9 {
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.cell-xs-8 {
  -webkit-flex: 0 0 66.66666667%;
  -ms-flex: 0 0 66.66666667%;
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.cell-xs-7 {
  -webkit-flex: 0 0 58.33333333%;
  -ms-flex: 0 0 58.33333333%;
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.cell-xs-6 {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.cell-xs-5 {
  -webkit-flex: 0 0 41.66666667%;
  -ms-flex: 0 0 41.66666667%;
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
.cell-xs-4 {
  -webkit-flex: 0 0 33.33333333%;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.cell-xs-3 {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.cell-xs-2 {
  -webkit-flex: 0 0 16.66666667%;
  -ms-flex: 0 0 16.66666667%;
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.cell-xs-1 {
  -webkit-flex: 0 0 8.33333333%;
  -ms-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
.flex-xs--top {
  -webkit-box-align: flex-start;
  align-items: flex-start;
}
.flex-xs--bottom {
  -webkit-box-align: flex-end;
  align-items: flex-end;
}
.flex-xs--center {
  -webkit-box-align: center;
  align-items: center;
}
.flex__cell-xs--top {
  -ms-flex-item-align: flex-start;
  align-self: flex-start;
}
.flex__cell-xs--bottom {
  -ms-flex-item-align: flex-end;
  align-self: flex-end;
}
.flex__cell-xs--center {
  -ms-flex-item-align: center;
  align-self: center;
}
.flex-xs--justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.flex-xs--justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.flex-xs--justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-xs--justify-space-between {
  justify-content: space-between;
}
.flex-xs--justify-space-around {
  justify-content: space-around;
}
.flex__cell-xs--justify-end {
  margin-left: auto;
}
.flex__cell-xs--justify-center {
  margin-left: auto;
  margin-right: auto;
}
.flex-xs-position-left {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}
.flex-xs-position-center {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.flex-xs-position-right {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
@media (min-width: 721px) {
  .flex-row {
    margin: 0 -15px 0 -15px;
  }
  .flex-row > [class^="cell-"],
  .flex-row > [class*=" cell-"] {
    padding: 0 15px 0 15px;
  }
  .cell-sm-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-sm-11 {
    -webkit-flex: 0 0 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .cell-sm-10 {
    -webkit-flex: 0 0 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .cell-sm-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .cell-sm-8 {
    -webkit-flex: 0 0 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .cell-sm-7 {
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .cell-sm-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-sm-5 {
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .cell-sm-4 {
    -webkit-flex: 0 0 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .cell-sm-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-sm-2 {
    -webkit-flex: 0 0 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .cell-sm-1 {
    -webkit-flex: 0 0 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .flex-sm--top {
    -webkit-box-align: flex-start;
    align-items: flex-start;
  }
  .flex-sm--bottom {
    -webkit-box-align: flex-end;
    align-items: flex-end;
  }
  .flex-sm--center {
    -webkit-box-align: center;
    align-items: center;
  }
  .flex__cell-sm--top {
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
  }
  .flex__cell-sm--bottom {
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
  }
  .flex__cell-sm--center {
    -ms-flex-item-align: center;
    align-self: center;
  }
  .flex-sm--justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .flex-sm--justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .flex-sm--justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .flex-sm--justify-space-between {
    justify-content: space-between;
  }
  .flex-sm--justify-space-around {
    justify-content: space-around;
  }
  .flex__cell-sm--justify-end {
    margin-left: auto;
  }
  .flex__cell-sm--justify-center {
    margin-left: auto;
    margin-right: auto;
  }
  .flex-sm-position-left {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .flex-sm-position-center {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .flex-sm-position-right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media (min-width: 992px) {
  .flex-row {
    margin: 0 -15px 0 -15px;
  }
  .flex-row > [class^="cell-"],
  .flex-row > [class*=" cell-"] {
    padding: 0 15px 0 15px;
  }
  .cell-md-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-md-11 {
    -webkit-flex: 0 0 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .cell-md-10 {
    -webkit-flex: 0 0 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .cell-md-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .cell-md-8 {
    -webkit-flex: 0 0 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .cell-md-7 {
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .cell-md-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-md-5 {
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .cell-md-4 {
    -webkit-flex: 0 0 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .cell-md-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-md-2 {
    -webkit-flex: 0 0 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .cell-md-1 {
    -webkit-flex: 0 0 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .flex-md--top {
    -webkit-box-align: flex-start;
    align-items: flex-start;
  }
  .flex-md--bottom {
    -webkit-box-align: flex-end;
    align-items: flex-end;
  }
  .flex-md--center {
    -webkit-box-align: center;
    align-items: center;
  }
  .flex__cell-md--top {
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
  }
  .flex__cell-md--bottom {
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
  }
  .flex__cell-md--center {
    -ms-flex-item-align: center;
    align-self: center;
  }
  .flex-md--justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .flex-md--justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .flex-md--justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .flex-md--justify-space-between {
    justify-content: space-between;
  }
  .flex-md--justify-space-around {
    justify-content: space-around;
  }
  .flex__cell-md--justify-end {
    margin-left: auto;
  }
  .flex__cell-md--justify-center {
    margin-left: auto;
    margin-right: auto;
  }
  .flex-md-position-left {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .flex-md-position-center {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .flex-md-position-right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media (min-width: 1290px) {
  .flex-row {
    margin: 0 -15px 0 -15px;
  }
  .flex-row > [class^="cell-"],
  .flex-row > [class*=" cell-"] {
    padding: 0 15px 0 15px;
  }
  .cell-lg-12 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cell-lg-11 {
    -webkit-flex: 0 0 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .cell-lg-10 {
    -webkit-flex: 0 0 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .cell-lg-9 {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .cell-lg-8 {
    -webkit-flex: 0 0 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .cell-lg-7 {
    -webkit-flex: 0 0 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .cell-lg-6 {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .cell-lg-5 {
    -webkit-flex: 0 0 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .cell-lg-4 {
    -webkit-flex: 0 0 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .cell-lg-3 {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .cell-lg-2 {
    -webkit-flex: 0 0 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .cell-lg-1 {
    -webkit-flex: 0 0 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .flex-lg--top {
    -webkit-box-align: flex-start;
    align-items: flex-start;
  }
  .flex-lg--bottom {
    -webkit-box-align: flex-end;
    align-items: flex-end;
  }
  .flex-lg--center {
    -webkit-box-align: center;
    align-items: center;
  }
  .flex__cell-lg--top {
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
  }
  .flex__cell-lg--bottom {
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
  }
  .flex__cell-lg--center {
    -ms-flex-item-align: center;
    align-self: center;
  }
  .flex-lg--justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .flex-lg--justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .flex-lg--justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .flex-lg--justify-space-between {
    justify-content: space-between;
  }
  .flex-lg--justify-space-around {
    justify-content: space-around;
  }
  .flex__cell-lg--justify-end {
    margin-left: auto;
  }
  .flex__cell-lg--justify-center {
    margin-left: auto;
    margin-right: auto;
  }
  .flex-lg-position-left {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .flex-lg-position-center {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .flex-lg-position-right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
